<div>
  <form>
    <div class="form-group">
      <label for="question">Question</label>
      {{input value=question id="question" placeholder=question.question}}
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      {{textarea value=author id="author" placeholder=question.author}}
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      {{input type="notes" value=notes class="notes" placeholder=question.notes.name}}
    </div>

    <button class="btn btn-xs detail" {{action 'saveQuestion' question}}>Save</button>
  </form>
</div>
