<div class="well well-sm">
  {{#link-to 'question' question.id}}<h3>{{question.content}}</h3>{{/link-to}} asked by  {{question.author}}{{update-question question=question update="update"}}
  <button {{action 'addToList' question}}>Favorite</button>
</div>
