input, textarea {
  color: #040507;
}

/*application*/
body {
  background-color: #040507;
  color: white;
  font-family: 'Shadows Into Light', cursive;
}
.page-header {
  margin-top: 80px;
  padding-bottom: 50px;
}
.navbar-default {
  background-color: #C0C0C0;
  background-image: radial-gradient(
    at left,
    white,
    #C0C0C0
    );
    margin-bottom: 10px;
}
a {
  color: #040507;
}
a:hover {
  color: #DE151B;
}
#title {
  font-family: 'Mystery Quest', cursive;
  font-weight: 900;
  font-size: 35px;
  padding: 20px;
  color: #040507;
}
.favorites {
  margin-top: 12px;
  margin-right: 30px;
  color: #DE151B;
  padding-left: 15px;
  width: 100px;
  font-size: 15px;
  border: 1px solid #DE151B;
  background-color: white;
}
.apple {
  padding-right: 15px;
}

/*new-question*/
.new-question {
  background-color: #4A6DBF;
  color: #040507;
  font-size: 15px;
}
.question-save {
  background-color: #4A6DBF;
  color: #040507;
  font-size: 15px;
}

/*index*/
.title {
  font-size: 40px;
}

/*question-tile*/
.well {
  background-color: #C0C0C0;
  background-image: radial-gradient(
    white,
    #C0C0C0
    );
  color: #040507;
}
.fav-btn {
  background-color: #DE151B;
  margin-bottom: 7px;
  margin-top: 7px;
  padding-top: 3px;
}
.answer-number {
  font-size: 25px;
  float: right;
  padding-top: 20px;
  margin-bottom: 5px;
}
.apple-click {
  font-size: 18px;
}

/*update-question*/
.update {
  background-color:  #FFFF8F;
  color: #040507;
  font-size: 15px;
}
.update-save {
  background-color: #FFFF8F;
  color: #040507;
  font-size: 15px;
}

/*question-detail*/
.panel-footer, .panel-body {
  background-color: #C0C0C0;
  background-image: radial-gradient(
    at top,
    white,
    #C0C0C0
    );
  color: #040507;
}
.panel-default > .panel-heading {
  background-color: #C0C0C0;
  background-image: radial-gradient(
    at top,
    white,
    #C0C0C0
    );
    color: #040507;
}

/*new-answer*/
.new-answer {
  background-color: #6B7C20;
  color: #040507;;
  font-size: 15px;
}
.answer-save {
  background-color: #6B7C20;
  color: #040507;
  font-size: 15px;
}
/*answer-tile*/
answer-tile {
  background-color: #f8f8f8;
}

/*display-list*/
li {
  margin-left: 30px;
  list-style-type: none;
}
.list {
  color: white;
  font-size: 20px;
}
.apple {
  color: #DE151B;
}
