<div class="container">
  <div class="page-header">
    <h1>Mirror-Mirror: <small>Ask a question, get an answer.</small></h1> *Satisfacation is not guaranteed.
  </div>

  <div class="row">
    <div class="col-sm-2">
    </div>
    {{outlet}}
    <div class="col-sm-2">
    </div>
  </div>
</div>
<hr>
<footer>
  {{#link-to 'index'}}Home{{/link-to}}
</footer>
